html, body, #root, .outer-row, .outer-container {
  height: 98%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chat-view {
  overflow-y: scroll;
  height: 100%;
}

.my-broadcast-bar {
  background-color: #369fb0 !important;
  width: 10px;
  padding: 0 !important;
}
.not-my-broadcast-bar {
  background-color: #787e87 !important;
  width: 10px;
  padding: 0 !important;
}

.no-margin-message {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.player-row {
  margin-bottom: 10px;

  padding-top: 7px;
  padding-bottom: 7px;

  border: 2px solid #17a2b8;
  border-radius: 10px;

  cursor: pointer;

}

.player-row.selected {

  background-color: #17a2b8;
  color: white;

}

.active-button {
  pointer-events: none;
}

.message-indicator {
  color: red;
}
